PORT=4000
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/taxiapp?appName=Cluster0
JWT_SECRET=taxigo_secret_key_2024
NODE_ENV=production
ADMIN_SETUP_KEY=taxigo2024admin
# Vercel frontendingiz URL manzili
ALLOWED_ORIGINS=https://YOUR-APP.vercel.app
